/* @import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    background: radial-gradient(#fff, #ffd6d6);
    color: white;
  padding: 0 10px;
}
.container{
  max-width: 1300px;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
}
.active, .activee:hover {
  background-color: #f57c6c;
  color: white;
  border-radius: 3px;
  border: blueviolet;
  box-shadow: #000;
}
.activee{
  padding-left: 3px;
  padding-right: 3px;
}
.navbar{
  display: flex;
  align-items: center;
  padding: 5px;
  /* position: -webkit-sticky;
  position: sticky; */
}
nav{
  flex: 1;
  text-align: right;
}
nav ul{
  display: inline-block;
  list-style-type: none;
}
nav ul li{
  display: inline-block;
  margin-right: 20px;
}
a{
  text-decoration: none;
  color: #555;
}
.logo{
  box-shadow: 5px 5px 2.5px grey;
  border-color: #000;
  border-style: double;
  padding-left: 5px;
  padding-right: 5px;
}
.form img{
    width:450px;
    height:200px; 
    margin-bottom:10px;
    padding: 0px 0;
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19), 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.wrapper{
  border-radius: 10px;
  max-width: 500px;
  width: auto;
  background: #fff;
  margin: 20px auto;
  box-shadow: 1px 1px 2px rgba(0,0,0,0.125);
  padding: 30px;
}

.wrapper .title{
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 25px;
  background-color: #f57c6c;
  color: white;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .form{
  width: 100%;
}

.wrapper .form .inputfield{
  margin-bottom: 15px;
  display: flex;
  align-items: center;
}

.wrapper .form .inputfield label{
   width: 200px;
   color: #757575;
   margin-right: 10px;
  font-size: 14px;
}

.wrapper .form .inputfield .input,
.wrapper .form .inputfield .textarea{
  width: 100%;
  outline: none;
  border: 1px solid #d5dbd9;
  font-size: 15px;
  padding: 8px 10px;
  border-radius: 3px;
  transition: all 0.3s ease;
}

.wrapper .form .inputfield .textarea{
  width: 100%;
  height: 125px;
  resize: none;
}

.wrapper .form .inputfield .custom_select{
  position: relative;
  width: 100%;
  height: 37px;
}

.wrapper .form .inputfield .custom_select:before{
  content: "";
  position: absolute;
  top: 12px;
  right: 10px;
  border: 8px solid;
  border-color: #d5dbd9 transparent transparent transparent;
  pointer-events: none;
}

.wrapper .form .inputfield .custom_select select{
  -webkit-appearance: none;
  -moz-appearance:   none;
  appearance:        none;
  outline: none;
  width: 100%;
  height: 100%;
  border: 0px;
  padding: 8px 10px;
  font-size: 15px;
  border: 1px solid #d5dbd9;
  border-radius: 3px;
}
.menu-icon{
  width: 28px;
  margin-left: 20px;
  display: none;
}

/* ----------media query for menu----------- */


@media only screen and (max-width: 800px){
  nav ul{
      position: absolute;
      top: 80px;
      left: 0;
      background: #333;
      width: 100%;
      overflow: hidden;
      transition: max-height 0.5s;
  }
  nav ul li{
      display: block;
      margin-right: 50px;
      margin-top: 10px;
      margin-bottom: 10px;
  }
  nav ul li a{
      color: #fff;
  }
  .menu-icon{
      display: block;
      cursor: pointer;
  }
}

.wrapper .form .inputfield .input:focus,
.wrapper .form .inputfield .textarea:focus,
.wrapper .form .inputfield .custom_select select:focus{
  border: 1px solid #ff523b;
}

.wrapper .form .inputfield p{
   font-size: 14px;
   color: #757575;
}
.wrapper .form .inputfield .check{
  width: 15px;
  height: 15px;
  position: relative;
  display: block;
  cursor: pointer;
}
.wrapper .form .inputfield .check input[type="checkbox"]{
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
.wrapper .form .inputfield .check .checkmark{
  width: 15px;
  height: 15px;
  border: 1px solid #ff523b;
  display: block;
  position: relative;
}
.wrapper .form .inputfield .check .checkmark:before{
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 5px;
  height: 2px;
  border: 2px solid;
  border-color: transparent transparent #fff #fff;
  transform: rotate(-45deg);
  display: none;
}
.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark{
  background: #ff523b;
}

.wrapper .form .inputfield .check input[type="checkbox"]:checked ~ .checkmark:before{
  display: block;
}

.wrapper .form .inputfield .btn{
  width: 450px;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #ff523b;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
}
.wrapper .form .inputfield-back .btn{
  width: 450px;
  text-align: center;
  padding: 8px 10px;
  font-size: 15px; 
  border: 0px;
  background:  #ff523b;
  color: #fff;
  cursor: pointer;
  border-radius: 25px;
  outline: none;
}

.wrapper .form .inputfield .btn:hover{
  background: #ee7565;
}
.wrapper .form .inputfield-back .btn:hover{
  background: #ee7565;
}

.wrapper .form .inputfield:last-child{
  margin-bottom: 0;
}

@media (max-width:420px) {
  .wrapper .form .inputfield{
    flex-direction: column;
    align-items: flex-start;
  }
  .wrapper .form .inputfield label{
    margin-bottom: 5px;
  }
  .wrapper .form .inputfield.terms{
    flex-direction: row;
  }
}